<strong>Olá, {{{ deliveryman }}} </strong>
<p>Uma encomenda foi cadastrada para você:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br>
  <strong>Produto: </strong> {{ product }} <br>
  <br>
  <small>
    A encomenda está disponível para retirada.
  </small>
</p>
